<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>All Movies</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="container">
        <h1>All Movies</h1>
        <div class="movie-list">
            <% users.forEach(user => { %>
                <% user.movies.forEach(movie => { %>
                    <div class="movie-card">
                        <h2><a href="/community/movies/<%= movie._id %>"><%= movie.name %></a></h2>
                        <p><strong>Added by:</strong> <%= user.username %></p>
                    </div>
                <% }) %>
            <% }) %>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Movie Database</p>
    </footer>
</body>
</html>
