<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Add New Movie</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="container">
        <div class="card">
            <h1>Add New Movie</h1>
            <form action="/users/<%= user._id %>/movies" method="POST" class="edit-form">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>

                <label for="genre">Genre</label>
                <input type="text" id="genre" name="genre">

                <label for="duration">Duration</label>
                <input type="number" id="duration" name="duration" min="0">

                <label for="releaseDate">Release Date</label>
                <input type="date" id="releaseDate" name="releaseDate">

                <label for="director">Director</label>
                <input type="text" id="director" name="director">

                <label for="imageURL">imageURL</label>
                <input type="text" id="imageURL" name="imageURL">

                <label for="description">Description</label>
                <textarea id="description" name="description"></textarea>

                <label for="rating">Rating</label>
                <input type="number" id="rating" name="rating" min="0" max="10">

                <button type="submit" class="btn">Add Movie</button>
            </form>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Movie Database</p>
    </footer>
</body>
</html>
